$brand-primary-color: #3498DB;
$brand-secondary-color: #fff;
$brand-alt-color: blue;
$brand-border-color: yellow;

$brand-transparent-background-color: rgba(0, 0, 0, 0);
$brand-flatblack-background-color: #303030;
$color: #8f8f8f;

$nav-background: #303030;
$text-primary-color: #D5D8DC;
$text-secondary-color: #3498DB;
$text-h3-color: #fff;
